---
---

@import "{{ site.theme }}";

body {
    background-attachment: fixed;
    background-color: #d2c09e;
    background-image: url(https://dses.innogamescdn.com/asset/cf618eb/graphic/background/bg-image.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
}
